POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_db
SATOIDC_PORT=8000
APP_ENV=development
OAUTH2_JWT_ISS=http://localhost:8000
SESSION_MIDDLEWARE_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
SESSION_COOKIE_HTTPS_ONLY=false
